.title-page {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}
.administrar-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  border-radius: 20px;
  border: 3px solid #66a181;
  width: 30rem;
  height: 80rem;
  background-color: #eff5f2;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  padding: 2rem;
  margin-top: 20rem;
  }

.caracteristicas-container {
    padding-top: 1rem;
    display: flex;
    flex-direction: row-reverse;
    column-gap: 4rem;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: center;
    align-items: center;
}



button:hover {
  background-color: #c0d461;
  text-decoration: none;
  transition: 0.7s;
}
.caracteristicas-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.button-crear {
  margin-left: 10rem;
}
/* @media (max-width: 768px) {
    .administrar-container h1 {
      width: 100%;
      height: 100%;
      padding: 20px;
      border-radius: 10px;
      background-color: rgb(247, 244, 244);
    }
  }
  
  @media (min-width: 768px) and (max-width: 1024px) {
    .administrar-container h1 {
      width: 100%;
      height: 100%;
      padding: 20px;
      border-radius: 10px;
      background-color: rgb(247, 244, 244);
    }
  }
  
  @media (min-width: 1024px) {
    .administrar-container h1 {
      width: 100%;
      height: 100%;
      padding: 20px;
      border-radius: 10px;
    }
  }
  
  @media (min-width: 1024px) {
    .administrar-container h1 {
      width: 100%;
      height: 100%;
      padding: 20px;
      border-radius: 10px;
    }
  }
   */
   @media screen and (max-width: 768px) {
    .administrar-container {
      width: 20rem;
      height: 50rem;
      margin-top: 10rem;
    }
    .caracteristicas-container {
      padding-top: 1rem;
      display: flex;
      flex-direction: row-reverse;
      column-gap: 4rem;
      flex-wrap: wrap;
      align-content: flex-end;
      justify-content: center;
      align-items: center;
    }
    .button-crear {
      margin-left: 5rem;
    }
  }

  @media screen and (max-width: 480px) {
    .administrar-container {
      width: 20rem;
      height: 50rem;
      margin-top: 10rem;
    }
    .caracteristicas-container {
      padding-top: 1rem;
      display: flex;
      flex-direction: row-reverse;
      column-gap: 4rem;
      flex-wrap: wrap;
      align-content: flex-end;
      justify-content: center;
      align-items: center;
    }
    .button-crear {
      margin-left: 5rem;
    }
  }
  