.carrusel-container {
  position: absolute;
  top: 20%;
  width: 60rem;
  left: 20.5%;
  display: flex;
  flex-wrap: wrap;
}

.carrusel-img {
  width: 60rem;
  height: 35rem;
  display: flex;
  flex-wrap: wrap;
}
