.rexitosa-container {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 200px;
  margin-top: -100px;
  width: 400px;
  margin-left: -200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.rexitosa-boton {
  background-color: #66a181;
  border: 1px solid #66a181;
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  width: 100px;
}
